body {
  background: #fafafa !important;
}

.account-summary {
  text-align: left;
  margin-bottom: 25px;
  margin-top: 20px;
}

.follower-suggestion {
  background: #e9ecef;
  padding: 20px;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
}

.img-circle {
  border-radius: 50%;
}

.profile-stats {
  width: 100px;
  float: left;
}

.profile-posts {
  margin-top: 25px;
}

