<h1 class="mt-5 text-center">Welcome to <strong>Cool Clone Instagram</strong></h1>
<p class="lead text-center">Please <strong><u>register</u></strong> or <strong><u>sign in</u></strong> to continue!</p>
<p class="text-center"><%=link_to "Sign up", new_account_registration_path, class: "btn btn-success"%></p>
<p class="text-center"> <%=link_to "Sign in", new_account_session_path, class: "btn btn-secondary"%></p>